@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
:root{
    /*variables colores*/
    --bg:#080808;
    --text:#d9d9d9;
    --text-soft:#8f8f8f;
    --text-pink-low-opacity: #e935bfae;
    --text-light-pink: #fc7ddeae;
    --bg-blue-low-opacity:rgba(27, 7, 245, 0.29);
    --contenedores:#0707076b;
}
*{
    /*fuente*/
    font-family: "Outfit", sans-serif;
    margin: 0px;
    color: var(--text);
    box-sizing: border-box;
}
/* nav{
    z-index: 10;
    display: flex;
    justify-content: center;
    
    #contenedor-nav{
        
        margin-top: 10px;
        border: 1px transparent;
        border-radius: 8px;
        position:fixed;
        background-color: var(--contenedores);
        height: 4rem;
        width: 80dvw;
        opacity: 90%;
        backdrop-filter: blur(100px);
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        
        align-items: center;
        padding: 5px;
    }
    
    a{
        text-decoration: none;
        color:var(--text);
        font-size: medium;
    }
    ul{
        width: 70dvw;
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-evenly;
        padding: 0%;
    }

    #logo-nav{
        height: 30px;
        width: 85px;
        background-image: url(./public/pixel-logo-horizontal-blanco.svg) ;
        
        background-size: cover;
        margin-left: 20px;
    }

} */

/* NAV */
.navbar {
    z-index: 10;
    display: flex;
    justify-content: center;
    
    /* background-color: var(--contenedores); */
    background-color: var(--bg-blue-low-opacity);
    opacity: 100%;
    backdrop-filter: blur(150px);
    border-radius: 8px;
    margin-top: 10px;
    height: 2.7rem;
    width: 80dvw;
    margin-inline: auto;
    padding: 5px;
    border: 1px transparent;
}

#logo-nav {
    height: 30px;
    width: 85px;
    background-image: url(./public/pixel-logo-horizontal-blanco.svg);
    background-size: cover;
    margin-left: 20px;
}

.navbar a {
    text-decoration: none;
    color: var(--text);
    font-size: medium;
}

.navbar ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    width: 70dvw;
    padding: 0;
    margin: 0;
}
/*por alguna razon desaparecia el boton hamburguesa al estilar la nav, asi que esta es la solucion:*/
.navbar-toggler-icon { 
    width: 35px;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 0.9)' stroke-width='3' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.navbar-collapse.show {
    margin-top: 3px;
    background-color: var(--contenedores); /* mismo fondo que la navbar */
    backdrop-filter: blur(100px);
    border-radius: 0 0 8px 8px;
    opacity: 0.95;
    transition: all 0.3s ease-in-out;

}

/* Asegurarte que el menú ocupe toda la anchura */
.navbar-collapse ul {
    
    align-items: center;
    padding: 1rem 0;
}


/* ACCORDION */
#FAQ{
    margin-block: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.accordion{
    width: 70%;
    margin: auto;
    
    /* background-color: var(--contenedores) !important; */
    /* border: 1px solid var(--text-soft); */
    border-radius: 10px;
    .accordion-item{
        background-color: var(--contenedores) !important;
        border-radius: 10px;
        .accordion-button{
            border-radius: 10px;
            background-color: rgb(188, 79, 2);
            color: var(--text);
            margin-top: 10px;
        }
        /* .accordion-button :target{
            border-color: orangered;
            
        } */
        .accordion-body{
            color: var(--text);
            

        }
    }
}


/*FOOTER*/
footer{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    position: relative;
    margin-bottom: 10px;
    
    .contenedor-footer{
        z-index: 1;
        height: 28rem;
        width: 95dvw;
        background-image: linear-gradient(to top right, var(--bg-blue-low-opacity),#555555);
        border: 1px transparent;
        border-radius: 8px;
        opacity: 90%;
        backdrop-filter: blur(100px);
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 5px; 
        justify-content: center;
    }
    .footer-datos{
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        font-size: small;
    }
    .footer-redes{
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        .redes{
            gap: 5px;
            svg{
                width: 20px;
                height: 20px;
            }
            display: flex;
            align-items: center;
            font-size: small;
        }
    }
}
body{
    background-color: var(--bg);
}
.titulos-secciones{
    font-size: xxx-large;
    font-weight: 700;
}
#banner{
    /* background-image: linear-gradient(90deg, #000000e5,#08080860), url(./public/img/img-banner1.jpg); 
    background-size:cover;
    background-position: center;*/
    height: 100dvh;
    width: 100dvw;
    /* display: flex;
    align-items: center;
    justify-content: center; */

    h1{
        font-size: xxx-large;
        color: var(--text);
        font-weight: 900;
    }
    h2{
        color: var(--text);
    }
    p{
        color: var(--text);
        font-size: medium;
    }
    margin: 0px !important;
     .gradient-banner{
        position: absolute;
        background-image: linear-gradient(90deg, #000000e5,#000000bf,#08080800);
        z-index: 2;
        width: 90dvw;
        height: 100dvh;
        box-sizing: border-box;
        display: flex;
        flex-direction:column;
        justify-content: center;
        margin:0px !important;
        padding-left: 100px;
        
        
    } 
}

.carousel{
    height: 100dvh;
    width: 100dvw;
    margin: 0px;
    padding: 0px;
    img{
        height: 100dvh;
        max-width: 100dvw;
        object-fit: cover;
        object-position: center;
    }
}
.section-sobre-nosotros{
    
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    gap: 15px;
    .contenedor-animacion-sobre-nosotros{
        display: flex;
        justify-content: start;
        #animacion-sobre-nosotros{
            /* border: 1px solid white;  */
            margin-top: 20px;
            width: 90dvw;
            height: 300px;
            z-index: -1;
        }
    }
    .contenedor-info-sobre-nosotros{
        margin-top: 80px;
        margin-inline: 50px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: center;
        
    }
    #frase-destacada{
        margin-top: 20px;
        font-style: italic;
    }
    #titulo-sobre-nosotros{
        margin-bottom: 50px;
    }
}
.section-servicios-pastillas {
    max-width: 100dvw;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-inline: 20px;
    padding-inline: 10px;

    .div-servicios-pastillas {
        max-width: 100vw; 
        margin-top: 1rem;
        display: flex;
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        -webkit-overflow-scrolling: touch;
        gap: 1rem;
        padding-bottom: 1rem;
        article {
            
            min-width: 250px;
            height: 300px;
            padding: 10px;
            scroll-snap-align: center;
            background: var(--bg);
            border-radius: 10px;
            box-shadow: 0 2px 10px rgba(0,0,0,0.1);
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: center;

        }
        article h4 {
        color: var(--text);
        margin-top: 0.5rem;
        text-align: center;
        }
        article p {
        color: var(--text);
        font-size: small;
        opacity: 0.5;
        transition: all 0.5s;
        text-align: center;
        }
        article a {
            color: var(--bg);
            background-color: var(--text-pink-low-opacity);
            margin-inline: 10px;
            padding-block: 4px;
            /* opacity: 0.5; */
            transition: all 0.5s;
            text-align: center;
            border: 1px transparent;
            border-radius: 8px;
            text-decoration: none;
            font-weight: 600;
        }
        article a:hover{
            background-color: var(--text-light-pink);
        }
        article:hover p {
        opacity: 1;
        transform: translateY(3px);
        }
        article:hover .imagenes-servicios{
            transform: scale(1.05);
        }
    }
    
    
    .div-foto-servicios {
      height: 150px;
      width: 100%;
      overflow: hidden;
      padding: 10px;
      background-color: var(--bg);
      border-radius: 10px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: end;
      position: relative;
    }
    
    .imagenes-servicios {
      position: absolute;
      top: 0;
      right: 0;
      height: 100%;
      opacity: 0.4;
      transition: all 0.5s;
      object-fit: cover;
      width: 100%;
    }
    
    /* Ocultar scrollbar en mobile */
    .div-servicios-pastillas::-webkit-scrollbar {
      display: none;
    }
    .div-servicios-pastillas {
      scrollbar-width: none;
      -ms-overflow-style: none;
    }
  }
  
/* IDENTIDAD VISUAL */
#identidad-visual{
    margin-block: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .titulos-identidad{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        h4{
            font-weight: 200;
        }
    }
    .resaltado{
        display: inline;
        /* margin-top: 20px; */
        
        background-image: linear-gradient(#660202 60%, transparent 60%);
        background-size: 100% 100%;
        background-repeat: no-repeat;
    }
    .resaltado-texto{
        display: inline;
        background-position: 0 4px;
        background-image: linear-gradient(#660202 60%, transparent 60%);
        background-size: 100% 100%;
        background-repeat: no-repeat;
    }
    /* .descripcion-identidad{
        margin-top: 50px;
        width: 1000px;
        .izq{
            text-align: start;
        }
        .der{
            text-align: end;
        }
    } */
     .descripcion-identidad{
        margin-top: 100px;
        display: flex;
        flex-direction: column;
        gap: 50px;
     }
     .descripciones{
        p{
            font-size: x-large;
        }
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
     }

}

  /* OPINIONES */
.section-opiniones{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    h2{
        text-align: center;
    }
    strong{
        color: var(--bg);
    }
    p{
        color: var(--bg);
    }
    .section-opiniones-div {
        display: flex;
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        -webkit-overflow-scrolling: touch; /* para suavidad en iOS */
        gap: 1rem; /* separación entre tarjetas */
        padding: 1rem;
      }
      
      .section-opiniones-cards {
        flex: 0 0 auto;
        width: 80dvw; /* cada tarjeta ocupa el 80% del ancho */
        max-width: 400px;
        scroll-snap-align: center;
        background: var(--text-soft);
        border-radius: 10px;
        box-shadow: 0 2px 10px rgba(0,0,0,0.1);
        padding: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
      
      .img-section-opiniones {
        width: 60px;
        height: 60px;
        border-radius: 100%;
      }
      
      .div-opinion {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
      }
      
      .div-info-datos {
        display: flex;
        flex-direction: column;
      }
      
      .opinion {
        margin-top: 1rem;
        font-style: italic;
        text-align: center;
      }
      
      /* Opcional para ocultar la scrollbar en mobile (estético) */
      .section-opiniones-div::-webkit-scrollbar {
        display: none;
      }
      .section-opiniones-div {
        -ms-overflow-style: none;  /* IE y Edge */
        scrollbar-width: none;     /* Firefox */
      }
      
}

/*tablets*/
@media screen and (min-width:700px){
    #banner{
        h1{
            font-size: 4rem;
        }
        
        background-image: linear-gradient(90deg, #000000,#08080850), url(./public/img/img-banner2.jpg);
        background-size: cover;
        #div-banner{
            margin-left: 20rem;
            /* border: solid 1px white; */
        }
        display: flex;
        justify-content: start;
        
    }
    nav{
        
        #contenedor-nav{
            
            width: 80dvw;
            
        }

    }
    .section-sobre-nosotros{
    
        margin-inline: 50px;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 15px;
        
        .contenedor-animacion-sobre-nosotros{
            margin-top: 0px;
            display: flex;
            justify-content: start;
            #animacion-sobre-nosotros{
                /* border: 1px solid white;  */
                width: 40dvw;
                height: 700px;
                z-index: -1;
            }
        }
        .contenedor-info-sobre-nosotros{
            p{
                font-size: larger;
            }
        }
    }
    .section-servicios-pastillas{
        h3{
            margin-top: 20px;
            margin-bottom: 10px;
        }
        margin-top: 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-inline: 20px;
        .div-servicios-pastillas{
            margin-top: 1rem;
            margin-inline: 0px;
            display: flex;
            gap: 20px;
        }
        article{
            
            height: 300px;
            width: 320px;
            padding: 0px;
            p{
                top: 0%;
                color: var(--text);
                font-size: medium;
                font-weight: 200;
                
                transition: all 0.5s;
                opacity: 50%;
                margin-top: 10px;
            }
            
            h4{
                color: var(--text);
                
                font-size: larger;
            }
        }
        article:hover{
            p{
                opacity: 100%;
               transform: translateY(3px);
            }
        }
        .imagenes-servicios{
            
            position: absolute;
            top: 0px;
            right: 0px;
            height: 100%;
            opacity: 40%;
            transition: all 0.5s;
        }
        .imagenes-servicios:hover{
            transform: scale(1.05);
            
        }
        .div-servicios-pastillas{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }
        .div-foto-servicios{
            height: 150px;
            width: 300px;
            overflow: hidden;
            /* border: 1px solid var(--text); */
            background-color: var(--bg);
            border-radius: 10px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: end;
            position: relative;
        }
    }
    .section-opiniones{
    
        margin-top: 80px;
        display: flex;
        flex-direction: column;
        align-items: center;
        h2{
            margin-bottom: 20px;
        }
        .section-opiniones-div{
            display: flex;
            justify-content: center;
            margin-inline: 50px;
            flex-wrap: wrap;
            gap: 40px;
        }
        .section-opiniones-cards{
            flex: 0 0 auto;
            z-index: -1;
            /* border: 1px solid; */
            background-color: var(--text-soft);
            
            backdrop-filter: blur(100px);
            /* box-shadow: 3px 3px 5px#2b2b2b44 ; */
            width: 300px;
            border-radius: 8px;
            padding: 10px;
            .dedicacion-opiniones{
                font-size: x-small;
                opacity: 80%;
            }
            .opinion{
                font-size: medium;
                color: #080808;
            }
            .div-opinion{
                display: flex;
                gap: 10px;
            }
            .div-info-datos{
                display: block;
                strong{
                    color: #080808;

                }
                .dedicacion-opiniones{
                    color: #080808;
                    font-size: smaller;
                }
            }
            
        }
        .img-section-opiniones{
            width: 40px;
            height: 40px;
            border-radius: 100%;
        }
       
    }
    
    footer{
        .contenedor-footer{
            z-index: 1;
            height: 10rem;
            width: 95dvw;
            background-image: linear-gradient(to top right, var(--bg-blue-low-opacity),#555555);
            border: 1px transparent;
            border-radius: 8px;
            opacity: 90%;
            backdrop-filter: blur(100px);
            display: flex;
            flex-direction: row;
            align-items: center;
            padding: 5px; 
            justify-content: space-around;
        }
        .footer-datos{
            display: flex;
            flex-direction: column;
            font-size: small;
        }
        .footer-redes{
            display: flex;
            flex-direction: column;
            gap: 10px;
            .redes{
                gap: 5px;
                svg{
                    width: 20px;
                    height: 20px;
                }
                display: flex;
                align-items: center;
                font-size: small;
            }
        }
    }
}
/*pc*/
@media screen and (min-width:1200px){
    #banner{
        background-image: linear-gradient(90deg, #000000,#08080800), url(./public/img/img-banner2.jpg) ;
        background-size: cover;
        h2{
            color: var(--text-soft);
        }
        p{
            color: var(--text-soft);
        }
        width: 99dvw;
    }
    nav{
        #contenedor-nav{
            height: 2rem;
        }
        #logo-nav{
            height: 33px;
            width: 95px;
            background-image: url(./public/pixel-logo-horizontal-blanco.svg) ;
            
            background-size: cover;
            margin-left: 20px;
        }
    }
    .section-sobre-nosotros{
        
        margin-inline: 100px;
        display: flex;
        align-items: center;
        gap: 15px;
        
    }
    
    .section-opiniones{
        .section-opiniones-cards{
            width: 350px;
        }
        .div-opinion{
            display: flex;
            flex-direction: row;
        }
    }
}